@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ 
    User user = await UserManager.GetUserAsync(User);
}

@if(SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <text class="text-white">Bem-vindo, &nbsp; @user.UserName &nbsp; &nbsp;</text>
            <a class="btn btn-info" style="border: 0; box-shadow: none" asp-controller="Users" asp-action="LogOut">Sair</a>
        </li>
    </ul>
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="btn btn-info navbar-btn navbar-link" style="border: 0; box-shadow: none" asp-action="Login" asp-controller="Users">Login </a> &nbsp;<span style="color:white">|</span> &nbsp;
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
            <a class="btn btn-info navbar-btn navbar-link" style="border: 0; box-shadow: none" asp-action="Register" asp-controller="Users">Registro</a>
        </li>
    </ul>
}
