@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@{
    User user = await UserManager.GetUserAsync(User);
}

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width: 450px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirmar matrícula</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="Name"></h5>
                <h5 class="fields">O valor para compra deste curso é <b>R$ <span class="Price"></span></b></h5>
                <hr>
                <h5>Saldo em sua carteira:</h5>
                @await Component.InvokeAsync("Balance", user.UserId)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-lg" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-info btn-lg btnMatriculate">Matricular-se</button>
            </div>
        </div>
    </div>
</div>