@model Courses.Models.Wallet

<div class="input-group walletBuy">
    <div class="input-group-prepend">
        <span class="form-control-plaintext" id="" style="font-size: 20px">R$ &ensp;&ensp;</span>
    </div>
    <input type="password" id="password" readonly class="form-control-plaintext" style="outline: 0; font-size: 20px" value="@Model.Balance.ToString("F2")" />
    <div class="input-group-append">
        <button onclick="toggler(this)" class="btn" style="border: 0; box-shadow: none" type="button"><i class="fa fa-fw fa-eye"></i></button>
    </div>
</div>


<script>
    function toggler(e) {
        if (e.innerHTML == '<i class="fa fa-fw fa-eye"></i>') {
            e.innerHTML = '<i class="fa fa-fw fa-eye-slash"></i'
            document.getElementById('password').type = "text";
        } else {
            e.innerHTML = '<i class="fa fa-fw fa-eye"></i>'
            document.getElementById('password').type = "password";
        }
    }
</script>