@model IEnumerable<Courses.Models.Matriculation>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4 course-card">
            <div class="cards">
                <div class="cards">
                    <div class="container-img">
                        <img src="@Url.Content(item.Course.Image)" class="card-img-top img-fluid" />
                    </div>
                    <div class="card-body card-body-course">
                        <a class="titleCourse" asp-action="Details" asp-controller="Courses" asp-route-id="@item.Course.CourseId">
                            <h5 class="card-title"><b>@item.Course.Title</b></h5>

                        </a>
                        <h6>Matriculado em @item.Course.CreationDate.ToString("dd/MM/yyyy")</h6>
                        <br>
                        <a href="#" class="btn btn-outline-info btn-block">Assistir aulas</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>