@model Courses.Models.User
@{
    ViewData["Title"] = "Meus dados";
}

<div class="data">
    <div class="card">
        <div class="card-header">
            <h3 class="title">
                <i class="fas fa-address-card fa-lg"></i> &nbsp; <b>Meus dados</b> &nbsp;
                <a asp-action="Update" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="right" title="Atualizar dados"><i class="far fa-edit fa-lg"></i></a>
            </h3>
        </div>
        <div class="card-body">
            <div class="input-group col-8 fields">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-signature fa-lg"></i></span>
                </div>
                <input asp-for="Nome" type="text" class="form-control form-control-lg" readonly />
            </div>

            <div class="input-group col-8 fields">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-address-card fa-lg"></i></span>
                </div>
                <input asp-for="CPF" type="text" class="form-control form-control-lg cpf" readonly />
            </div>

            <div class="input-group col-8 fields">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone-square fa-lg"></i></span>
                </div>
                <input asp-for="Telefone" type="text" class="form-control form-control-lg telefone" readonly />
            </div>

            <div class="input-group col-8 fields">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-envelope fa-lg"></i></span>
                </div>
                <input asp-for="Email" type="text" class="form-control form-control-lg" readonly />
            </div>

            <div class="input-group col-8 fields">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar fa-lg"></i></span>
                </div>
                <input asp-for="DataCriacao" type="date" class="form-control form-control-lg" readonly />
            </div>

            <div class="input-group col-8 fields">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-check fa-lg"></i></span>
                </div>
                <input asp-for="DataAtualizacao" type="date" class="form-control form-control-lg" readonly />
            </div>
        </div>

    </div>
</div>

<div class="courses">
    <div class="card">
        <div class="card-header">
            <h3 class="title">
                <i class="fas fa-crow fa-lg"></i> &nbsp; <b>Meus cursos</b> &nbsp;
            </h3>
        </div>
        <div class="card-body">
            @*await Component.InvokeAsync("CarrosAlugados")*@
        </div>

    </div>
</div>

<partial name="_ModalDeletion" />

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })


        function ConfirmDeletion(id, nome, controller) {
            $(".Nome").html(nome);

            $(".modal").modal("show");

            $(".btnDelete").on('click', function () {
                var url = "/" + controller + "/Delete/";

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { id: id },
                    success: function () {
                        alert("Registro excluído");
                        location.reload();
                    }
                })
            })
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <script>
        $(function () {
            $(".cpf").mask("999.999.999-99");
            $(".telefone").mask("(99) 9 9999-9999");
        })
    </script>
}

