@model Courses.ViewModels.RedefinePasswordViewModel
@{
    ViewData["Title"] = "Redefinir senha usuário " + Model.Name;
}

<p></p>
<div class="border border-light rounded shadow col-md-8">
    <div class="container">
        <h3 class="title"><i class="fas fa-user"></i> &nbsp; <b>Redefinir senha do usuário: </b>@Model.Name</h3>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="RedefinePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="UserId" type="hidden" />

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Senha atual</label>
                            <input asp-for="Password" type="password" class="form-control form-control-lg" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label">Nova senha</label>
                            <input asp-for="NewPassword" type="password" class="form-control form-control-lg" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword" class="control-label">Confirme sua nova senha</label>
                            <input asp-for="ConfirmNewPassword" type="password" class="form-control form-control-lg" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group buttons">
                        <input type="submit" value="Redefinir" class="btn btn-outline-info btn-lg" /> &nbsp;
                        <a asp-action="Index" asp-controller="Users" class="btn btn-link btn-lg">Voltar</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>


}

