@model Courses.ViewModels.UpdateViewModel
@{
    ViewData["Title"] = "Atualizar usuário" + Model.Name;
}

<p></p>
<div class="border border-light rounded shadow col-md-8">
    <div class="container">
        <h3 class="title"><i class="fas fa-user"></i> &nbsp; <b>Atualização do usuário: </b>@Model.Name</h3>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Id" type="hidden" />

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control form-control-lg" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control form-control-lg phoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">E-mail</label>
                            <input asp-for="Email" type="email" class="form-control form-control-lg" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="CreationDate" class="control-label">Data de criação</label>
                            <input asp-for="CreationDate.Date" type="date" class="form-control form-control-lg" readonly />
                            <span asp-validation-for="CreationDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="form-group">
                            <label asp-for="CPF" class="control-label"></label>
                            <input asp-for="CPF" class="form-control form-control-lg cpf" readonly />
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fields">
                        <label asp-for="Password" class="control-label">Confirme sua senha</label>
                        <div class="input-group mb-3">
                            <input asp-for="Password" type="password" class="form-control form-control-lg" />
                            <div class="form-group-append">
                                <a asp-action="RedefinePassword" asp-controller="Users" asp-route-UserId="@Model.Id" class="btn btn-outline-warning btn-lg" type="button">Redefinir</a>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group buttons">
                        <input type="submit" value="Atualizar" class="btn btn-outline-info btn-lg" /> &nbsp;
                        <a asp-action="Index" asp-controller="Users" class="btn btn-link btn-lg">Voltar</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <script>
        $(function () {
            $(".cpf").mask("999.999.999-99");
            $(".phoneNumber").mask("(99) 9 9999-9999");
        })

        $('#myCollapsible').collapse({
            toggle: false
        })
    </script>


}

