/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

.titleCard {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.mainContent {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    padding-top: 25px;
    padding-bottom: 10px;
}

.buttons {
    padding-top: 30px;
    padding-bottom: 30px;
}

.fields {
    padding-top: 15px;
    padding-bottom: 15px;
}

.adress, .courses, .data {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-img-top {
    margin-left: auto;
    margin-right: auto;
}

.card-img-top-course {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    padding-left: -15px;
    padding-right: -15px;
}

.centerVertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card-body-course {
    background-color: #fbfbfb;
}

.box-img {
    position: relative;
    width: 50%;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.container-img {
    position: relative;
    width: 100%;
}

    .container-img:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .container-img img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

.course-card {
    padding-bottom: 30px;
}

.description {
    padding-top: 15px;
    white-space: pre-wrap;
}

.img300 {
    height: 300px;
    width: 300px;
}

.bottomContent {
    position: absolute;
    bottom: 0;
}

.card-body-no-padding {
    padding: 0;
}

.float-buttom {
    width: 45px;
    z-index: 1;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
}

.editClass {
    float: right;

}

.titleCourse {
    color: #525252
}

    .titleCourse:hover {
        color: black;
        text-decoration: none
    }

.courseItens {
    font-size: 17px;
}

.dateUpdates {
    width: 48px;
    height: 32px;
    background-color: #fad3ff;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color: #6d6d6d;
}

.float-hide {
    margin-left: -30px;
    cursor: pointer;
}

.walletBuy {
    max-width: 80%;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding-left: 15px;
    padding-right: 5px;
}


#demo {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: yellow;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 0px;
}

#demo.in {
    width: 220px;
}

.courseCards {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
